# Pycharm
.idea

# VS Code
.vscode

# Git
.gitignore

# models
.clf
models/

# config files
config.cfg
cfg_engine.yml

# python
*.pyc
__pycache__

# Mac
.DS_Store

*.gz

# Know how
egs/smartlights/backend/dialog.py
egs/smartblinds/device/esp_lux_temp/config.json
