/* MENU */
div.scrollmenu {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

div.scrollmenu a:hover {
	background-color: #777;
}

/* BODY */
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-analytics {
	margin-top: 30pt;
}

.home-switches div.col-sm-3 {
	/* margin-right: 300px; */
	padding-bottom: 10px;
}

/* @media (max-width:992px) {
    .home-switches div.col-sm-2{
        margin-right: 300px; 
        padding: 20px 40px;
    }
  }
  */

.chart-container {
	position: relative;
	margin: auto;
	height: 70vh;
	width: 80vw;
}

canvas {
	border: 1px dotted red;
}

.container-fluid {
	overflow: hidden;
	margin-top: 250px;
	background: #262626;
	color: #627482 !important;
	margin-bottom: 0;
	padding-bottom: 0
}

small {
	font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
	color:  !important
}

.mt-55 {
	margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
	font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
	font-size: 21px !important
}

.rights {
	font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}