html {
}
body {
	position: relative;
	background-color: #fff;
	width: 100%;
	/* margin: 0 auto; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Remove padding and margin */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Have classes for floating and clearing */
.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.4em;
}

p {
	font-size: 1.2em;
}

/* MENU */
div.scrollmenu {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

div.scrollmenu a:hover {
	background-color: #777;
}

#home-analytics {
	margin-top: 30pt;
}

.sticky-top-4 {
	position: sticky;
	top: 3.5rem;
	z-index: 1000;
}

.home-switches div.col-sm-3 {
	/* margin-right: 300px; */
	padding-bottom: 10px;
}

.custom-card-header {
	flex: 0 0 100%;
	background-color: rgb(247, 247, 247);

	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* @media (max-width:992px) {
    .home-switches div.col-sm-2{
        margin-right: 300px; 
        padding: 20px 40px;
    }
  }
  */

/* .chart-container {
	position: relative;
	
	height: 70vh;
	width: 80vw;
} */

div.dyGraphs {
	position: relative;
	margin: auto;
	height: 40vh;
	width: 80vw;
}

/* canvas {
	border: 1px dotted red;
} */

.container-fluid {
	overflow: hidden;
	margin-top: 250px;
	background: #262626;
	color: #627482 !important;
	margin-bottom: 0;
	padding-bottom: 0;
}

div.alert.alert-info#eventLogItem {
	padding: 5px;
	margin-bottom: 5px;
}

div#light_div {
	height: 242px;
}

img.light_bulb {
	margin-right: 7px;
}

div#measured_value_container {
	width: inherit;
}

div.measured_values_item {
	margin-left: 10px;
	margin-top: 30px;
	width: 230px;
}

div.sensors.row.measured_value {
	margin: 10px;
}

div#eventLogContainer#eventLog {
	height: 200px;
}

main.container {
	min-width: 90%;
}

div.card-body.sensors.measured_value {
	font-size: 2.5em;
	padding: 0em;
}

i.sensor_state_icon {
	margin: 7px;
}

span.sensors.room.measured_value {
	font-size: 1.3em;
}

div.border-5 {
	border-style: solid;
	border-width: 5px;
}

img {
	width: 2em;
	margin: 5px;
}

img.sensors.measured_value {
	width: 70px;
	margin: 10px;
}

img.umbrella#today {
	width: 2em;
	height: 2em;
	margin-left: 25px;
	margin-right: 5px;
}

img.umbrella {
	margin: 3px;
}

img.umbrella#tomorrow {
	width: 1.3em;
	height: 1.3em;
	margin-left: 25px;
	margin-right: 5px;
}

div#eventLogContainer {
	height: 242px;
}
div#eventLogContainer #title {
	height: 36px;
}

span.title.measured_value {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 7px;
}

span.title {
	font-size: 1.3em;
	font-weight: bold;
}

small {
	font-size: calc(
		12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
	) !important;
}

.mt-55 {
	margin-top: calc(
		50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
	) !important;
}

.social {
	font-size: 21px !important;
}

.rights {
	font-size: calc(
		10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
	) !important;
}

ul.footer {
	margin-top: 10px;
	text-align: center;
}

ul.footer li {
	color: #333;
	display: inline-block;
}

footer {
	bottom: -50px;
	height: 50px;
	/* left: 0; */
	/* position: absolute; */
	right: 0;
	display: inline-block;
	float: right;

	/* position: fixed; */
	bottom: 0;
}
