body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#overview_table {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid gray;
}

.overview_tr {
    line-height: 1.5em;
}

.overview_tr[selected=false] {
    font-weight: normal;
}

.overview_tr[selected=true] {
    font-weight: bold;
}

.location {
    font-size: 80%;
}

#quantity_pn_room_temperature_bme280_01 {
    color: blue;
    font-style: italic;
}

#detail_plot {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    height: fit-content;
    border: 1px solid gray;
}

#detail_info {
    margin-top: 20px;
    margin-left: 10%;
    width: 76%;
    padding: 2%;
    border: 1px solid gray;
}
